# Dependencies
node_modules

# Build output
dist

# Coverage
coverage

# IDE
.idea
.vscode

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Test files
*.spec.ts
test/

# Documentation
README.md
